
:root {
    --the-font: "Playwrite NZ Basic", cursive;
    --dimension: 30rem
}

body {
    font-family: var(--the-font);
    background-color: rgb(145, 230, 230);
    background-image: url(theatre.jpg);
    background-position: right;
    background-size: var(--dimension) var(--dimension);
    background-repeat: no-repeat;
}

.onstage {
    position: absolute;
    color: white;
    text-align: center;
    width: 10rem;
    left: 57rem;
    top: 25rem;
}

table, td, th {
    border: .064rem solid rgb(0, 0, 0)
}

th {
    background-color: rgb(127, 255, 229);
}

tr:nth-child(n) {
    background-color: rgb(74, 150, 255)
}

tr:nth-child(2n) {
    background-color: rgb(254, 176, 93)
}